fastapi[standard]
pydantic
pydantic-settings
python-dotenv
sqlalchemy
sqlmodel
psycopg[binary,pool]
passlib[bcrypt]
pyjwt
tenacity
apscheduler
requests
transformers
torch
aiocache
aiohttp
ccxt

# Testing
pytest
pytest-asyncio
pytest-mock
httpx
pytest-cov
aiosqlite