fastapi[standard]
pydantic
pydantic-settings
python-dotenv
sqlalchemy
sqlmodel
psycopg[binary,pool]
passlib[bcrypt]
bcrypt
pyjwt
tenacity
apscheduler
requests
transformers
torch
aiocache
aiohttp
ccxt
openai

# Testing
pytest
pytest-asyncio
pytest-mock
httpx
pytest-cov
aiosqlite